* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#titulo1 {
    background-color: #295495;
}

#titulo2 {
    background-color: red;
}

.divisor {
    background-color: aqua;
    width: 100%;
    padding: 10px;
    border: 20px solid;
    margin: auto;
    border-color: black;
}

p {
    color: black;
}